/* RESET */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Clearfix */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

main{
    width: 70%;
    margin: 0 auto;
}
main > .title{
    color: #e53270;
}

.text-center{
    text-align: center;
}

.title{
    padding: 40px;
}

.title > h1{
    font-size: 2.5rem;
    font-weight: bolder;
}

.container-item{
    width: 33%;
    height: 300px;
}

.item{
    width: 100%;
}

.img{
    width: 25%;
    text-align: end;
}

.description{
    width: 75%;
    height: 125px;
    padding: 30px;
    color: white;
    background-color: #0f0e17
}

img{
    width: 125px;
    height: 125px;
}

h2{
    font-size: 1.2rem;
}
