/* RESET */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Clearfix */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

main{
    width: 70%;
    margin: 0 auto;
    padding: 10px;
}
main > .title{
    color: #e53270;
}

.text-center{
    text-align: center;
}

.title{
    padding: 40px;
}

.title > h1{
    font-size: 2.5rem;
    font-weight: 900;
}

.lorem{
    font-size: 1.5rem;
}

.container{
    margin-top:60px
}

.container-item{
    width: 33%;
}

.container-item:nth-child(1) , .container-item:nth-child(2){
    padding-right: 40px;
}

.item{
    width: 100%;
}

.item:last-of-type{
    margin-top: 50px;
}

.description{
    width: calc(100% - 125px);
    height: 125px;
    padding:30px;
    padding-bottom: 35px;
    color: white;
    background-color: #0f0e17
}

.description > h2{
    font-weight: 900;
    font-size: 1.2rem;
}

img{
    width: 125px;
    height: 125px;
}

p.Job{
    margin: 10px 0;
}

p.email{
    color:#4bb1c3
}
